studio-workspace-7.5.0/.tooling/aepi-case-management-exp-api26a08f91-2aad-4b45-89ba-bbe2664c4830/aepi-case-management-exp-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:avio-core="http://www.mulesoft.org/schema/mule/avio-core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation=" http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd http://www.mulesoft.org/schema/mule/avio-core http://www.mulesoft.org/schema/mule/avio-core/current/mule-avio-core.xsd">
    <flow name="aepi-case-management-exp-api-main" doc:id="360ec8d1-c5e9-4f56-99da-6877ba87ff4c">
        <http:listener doc:name="Listener" doc:id="8aeaffe6-3892-4377-a2c0-609416062b35" config-ref="http-listener-config" path="/api/*">
            <http:response statusCode="#[vars.statusCode default 200]" />
            <http:error-response statusCode="#[vars.statusCode default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <set-variable variableName="headerAttributes" value="#[%dw 2.0 output application/json --- {  correlationId: message.attributes.headers.correlation_id,  clientId: message.attributes.headers.client_id,  clientSecret: message.attributes.headers.client_secret }]" doc:name="headerAttributes" />
        <set-variable value="aepi-case-management-exp-api-main::apiKitRouter" doc:name="currentFlow" doc:id="3e8e3f31-8d25-4f7c-b211-ae3c52530d92" variableName="currentFlow" />
        <ee:transform doc:name="VARS: headers">
            <ee:variables>
                <ee:set-variable variableName="requestHeader"><![CDATA[{
	client_id : message.attributes.headers.client_id,
	client_secret: message.attributes.headers.client_secret,
	correlation_id: message.attributes.headers.correlation_id
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <apikit:router doc:name="APIkit Router" doc:id="e474b7e2-127a-4371-af30-b98e39d0bc3c" config-ref="aepi-case-management-exp-api-config" />
    </flow>
</mule>
