studio-workspace-7.5.0/.mule/plugins-tmp/aepi-salesforce-upsert-1.0.0-SNAPSHOT-mule-plugin/global-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	  xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	  xmlns:http="http://www.mulesoft.org/schema/mule/http"
	  xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:avio-core="http://www.mulesoft.org/schema/mule/avio-core"
	  xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
      xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
	  xmlns="http://www.mulesoft.org/schema/mule/core"
	  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
		http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd http://www.mulesoft.org/schema/mule/avio-core http://www.mulesoft.org/schema/mule/avio-core/current/mule-avio-core.xsd
		http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
		http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">

	<http:listener-config name="upsert-http-listener-config" doc:name="HTTP Listener config" doc:id="9047b44e-78fe-44eb-9db3-d9471dbf70de" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>


    <!-- AVIO Mule Logger configuration -->
	<avio-core:config name="avio-core-config" doc:name="AVIO Core Config" doc:id="4e221d01-3161-46ac-8e95-791ff05ce148" app_name="${api.name}" app_version="${api.version}"/>

    <!-- This is the Configuration to make mule always refer to globalErrorHandler defined in error-handling.xml for handling exceptions -->

    <!-- This Property is to use in AVIO custom logger to log the current mule application version. Change this everytime when you decided to change this application version in POM. -->
    <global-property doc:name="Global Property" doc:id="17770a11-4157-4172-973b-72174cc545ad" name="pomVersion" value="1.0.0" />

    <!-- This Property is to use in various properties and Custom Logger to reference the environment (e.g. local, dev, etc) -->
	<global-property doc:name="Global Property" doc:id="a1fa49c4-d27a-47ab-bd5e-20d5f55721f5" name="env" value="local" />

    <!-- This is the configuration to refer and encrypt properties in properties file. -->
    <secure-properties:config name="secure-properties-config" doc:name="Secure Properties Config" doc:id="d64f0a63-454a-486c-be29-1fcdc9534db5" file="properties/${env}.properties" key="${secureKey}" >
    	<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>

    <!-- This is the configuration to let this mule app talk to API Manager's corresponding API -->

    <!-- Added to expedite the Bootcamp project archetype -->
	<global-property doc:name="Global Property" doc:id="0a76d4c0-842d-40b6-9fc5-2f5cf73b0360" name="secureKey" value="password" />

    <!-- reference artifactId specific properties directory -->
	<configuration-properties doc:name="Configuration properties" doc:id="0da4297a-cc2b-4d83-8e5d-fde6621077ec" file="properties/${env}.properties" />

    <!-- Listener references "env" specific properties -->
	
	 
	<salesforce:sfdc-config name="salesforce-config" doc:name="Salesforce Config" doc:id="220aaae4-e897-4561-ab1c-b883d65a00d3" >
		<salesforce:cached-basic-connection username="${salesforce.username}" password="${secure::salesforce.password}" securityToken="${secure::salesforce.token}" url="${salesforce.login.url}" />
	</salesforce:sfdc-config>

<!--	
 	<salesforce:sfdc-config name="salesforce-config" doc:name="Salesforce Config" doc:id="787cdfb2-5f02-4deb-9c2f-f8298b60aac3" >
		<salesforce:basic-connection username="${salesforce.username}" password="${secure::salesforce.password}" securityToken="${secure::salesforce.token}" url="${salesforce.login.url}"/>
	</salesforce:sfdc-config>
 -->	
	<sub-flow name="error-handling-subflow" doc:id="3b4e3606-24c8-45a0-8b78-c2befbc6224e" >
		<ee:transform doc:name="Set Error Payload" doc:id="fe4c4d73-1774-4686-bf07-bb8f735baf1c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	statusCode: vars.statusCode,
	apiInError: p('api.name') ++ "/" ++ p('api.version'),
	currentFlow: vars.currentFlow,
	correlationId: vars.headerAttributes.correlationId,
  	error: {
  		"type": (error.errorType.namespace ++ ":" ++ error.errorType.identifier as String) default "Not found",
  		detail: (error.description as String) default "Unhandled Exception"
  	}
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<avio-core:custom-logger doc:name="ERROR response" doc:id="bb3bbc7a-55b6-4b32-ad2d-e99da03dab4d" config-ref="avio-core-config" correlation_id="#[100]" message="Exception Occured" level="ERROR" tracePoint="EXCEPTION" status_code="#[payload.statusCode]" type='#[payload.error."type"]' detail="#[payload.error.detail]"/>
	</sub-flow>
	<error-handler name="globalErrorHandler">
		<on-error-propagate enableNotifications="true" logException="false" doc:name="On Error Propagate" doc:id="5d14246f-b613-44f0-9c61-6028e61493a6" type="ANY">
			<set-variable value="500" doc:name="Set HTTP Status code" doc:id="1d6586fd-fb35-42e5-8bdc-3c21840bba73" variableName="statusCode" />
			<flow-ref doc:name="error-handling-subflow" doc:id="b795ed54-98fd-4265-ba7a-a0a484971f96" name="error-handling-subflow" />
		</on-error-propagate>
    </error-handler>
    
	<flow name="test-salesforce-upsert-flow" doc:id="188a9526-6fe6-4bf6-8cc4-e7a1254d6d41" >
		<http:listener doc:name="Test Listener" doc:id="19369267-edb1-45b6-982e-54832e2f188d" config-ref="upsert-http-listener-config" path="/testUpsert"/>
		<flow-ref doc:name="Flow Reference" doc:id="2d947106-32d0-4ecf-a481-fe4528b085ef" name="shared-salesforce-upsert"/>
	</flow>


</mule>
