mule3/srs/new/srs-wv-service-endpoint-experience-api/src/main/app/wv-soap-expose.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8085" doc:name="HTTP Listener Configuration"/>
    <cxf:configuration name="CXF_Configuration" enableMuleSoapHeaders="true" initializeStaticBusInstance="true" doc:name="CXF Configuration"/>
    <flow name="wv-soap-exposeFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/hello" doc:name="HTTP"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <set-payload value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?&gt;
&lt;soap:Envelope xmlns:soap=&quot;http://schemas.xmlsoap.org/soap/envelope/&quot; xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xmlns:xsd=&quot;http://www.w3.org/2001/XMLSchema&quot;&gt;
	&lt;soap:Body&gt;
		&lt;UploadDocumentResponse xmlns=&quot;http://tempuri.org/&quot;&gt;
			&lt;UploadDocumentResult&gt;
				&lt;Command xmlns=&quot;&quot;&gt;
					&lt;Execute&gt;
						&lt;Status&gt;
							&lt;MLWResponse&gt;
								&lt;TransactionID&gt;15991091-001&lt;/TransactionID&gt;
								&lt;RouteId&gt;462185:718150&lt;/RouteId&gt;
								&lt;StartTStamp&gt;2019-10-25T15:08:57.885&lt;/StartTStamp&gt;
								&lt;TStamp&gt;2019-10-25T15:08:58.492&lt;/TStamp&gt;
								&lt;Elapsed&gt;607&lt;/Elapsed&gt;
								&lt;StopId&gt;3556538&lt;/StopId&gt;
								&lt;Message/&gt;
								&lt;Result&gt;Success&lt;/Result&gt;
							&lt;/MLWResponse&gt;
						&lt;/Status&gt;
					&lt;/Execute&gt;
				&lt;/Command&gt;
			&lt;/UploadDocumentResult&gt;
		&lt;/UploadDocumentResponse&gt;
	&lt;/soap:Body&gt;
&lt;/soap:Envelope&gt;" mimeType="text/xml" doc:name="Set Payload"/>
    </flow>
</mule>
