studio-workspace/accounts-mod06-debugging-solution/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	
	<!-- Import the flows located at templates.xml from the templates dependency -->
	<import file="templates.xml" />
	
	<db:config name="Database_Config" doc:name="Database Config" doc:id="8c74c33a-bec1-4e86-9cd4-842ab0aaeff5" >
		<db:my-sql-connection host="${db.host}" port="${db.port}" user="${db.user}" password="${db.password}" database="${db.database}" />
	</db:config>
	<configuration-properties doc:name="Configuration properties" doc:id="08244fd7-323a-4dff-88ea-6c6477280d2c" file="${env}-properties.yaml" />
	<flow name="getAllAccountsFlow" doc:id="621692f7-b889-4949-b003-cc90b2cd1c73" >
		<db:select doc:name="Database" doc:id="ed49e285-71ee-45e6-a218-1d933f4b5590" config-ref="Database_Config">
			<db:sql >SELECT * FROM ${db.tableName} WHERE accountType = :type</db:sql>
			<db:input-parameters ><![CDATA[#[{"type": attributes.queryParams['type']}]]]></db:input-parameters>
		</db:select>
		<flow-ref doc:name="validate DB array" name="validateArray"/>
		<ee:transform doc:name="Transform Message" doc:id="22da0851-b4f8-440c-9990-b8de1f7d9180" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( (payload01 , indexOfPayload01) -> {
	salesID: payload01.accountID ++ payload01.name ++ payload01.postal ++ payload01.creationDate,
	id: payload01.accountID,
	firstName: (payload01.name splitBy ' ')[0],
	lastName: (payload01.name splitBy ' ')[1],
	address: payload01.street ++ " " ++ payload01.city ++ ", " ++ payload01.state,
	postal: payload01.postal,
	country: payload01.country,
	creationDate: (payload01.creationDate as String) ++ "+0:00",
	accountType: payload01.accountType,
	miles: payload01.miles
})]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getSingleAccountFlow" doc:id="c5b11a45-b6e8-4217-8d5a-2a8d94aa02f7" >
		<db:select doc:name="Database" doc:id="7759362c-7b1e-4db5-9a67-cefcb7c47e5d" config-ref="Database_Config">
			<db:sql >SELECT * FROM ${db.tableName} WHERE accountID = :id</db:sql>
			<db:input-parameters ><![CDATA[#[{ "id": attributes.uriParams.id }]]]></db:input-parameters>
		</db:select>
		<flow-ref doc:name="validate DB array" name="validateArray"/>
		<logger level="INFO" doc:name="Logger" doc:id="f7778931-d3d0-490b-99bd-42a242be4dfd" message='#["Payload is " ++ write(payload,"application/json")]'/>
		<ee:transform doc:name="Transform Message" doc:id="4486628c-2a63-43de-b85a-4f17f95a723d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
(payload map ( (payload01 , indexOfPayload01) -> {
	salesID: payload01.accountID ++ payload01.name ++ payload01.postal ++ payload01.creationDate,
	id: payload01.accountID,
	firstName: (payload01.name splitBy ' ')[0],
	lastName: (payload01.name splitBy ' ')[1],
	address: payload01.street ++ " " ++ payload01.city ++ ", " ++ payload01.state,
	postal: payload01.postal,
	country: payload01.country,
	creationDate: (payload01.creationDate as String) ++ "+0:00",
	accountType: payload01.accountType,
	miles: payload01.miles
}))[0]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
